html {
	font-size: 62.5%;
	box-sizing: border-box;
}

:root {
	--main-font: 'Rubik', sans-serif;
	--dark-navy-blue-color: #0e1323;
	--lighter-dark-navy-blue-color: #1c204b;
	--purple-blue-color: #5747ea;
	--purple-color: #7335d2;
	--light-purple-text-color: #7078c9;
	--lighter-purple-text-color: #bbc0ff;
	--orange-color: #ff8b64;
	--light-blue-color: #55c2e6;
	--light-red-color: #f04667;
	--light-green-color: #4bcf82;
	--yellow-color: #f1c75b;
	--white-color: #fff;
	--border-radius-medium: 15px;
	--padding-every-different: 3.5rem 3.9rem 3.4rem 3.2rem;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--main-font);
	font-weight: 400;
	background-color: var(--dark-navy-blue-color);
	color: var(--white-color);
}

.time-tracking-section {
	padding: 8rem 2.4rem;
}

.container {
	max-width: 37.5rem;
	margin: 0 auto;
}

.person-information-card {
	border-radius: var(--border-radius-medium);
	background-color: var(--lighter-dark-navy-blue-color);
}

.person-information {
	display: grid;
	padding: var(--padding-every-different);
	column-gap: 2rem;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: repeat(2, 1fr);
	border-radius: var(--border-radius-medium);
	background-color: var(--purple-blue-color);

	&__img {
		grid-row: 1/3;
		border: 3px solid var(--white-color);
		border-radius: 50%;
		width: 100%;
		place-self: center;
	}
	&__text {
		font-size: 1.5rem;
		align-self: self-end;
		color: var(--lighter-purple-text-color);
		font-weight: 400;
	}
	&__full-name {
		font-size: 2.4rem;
		align-self: self-start;
		font-weight: 300;
	}
}

.person-information-time {
	display: flex;
	padding: var(--padding-every-different);
	background-color: var(--lighter-dark-navy-blue-color);
	font-size: 1.8rem;
	justify-content: space-between;
	// align-items: center;
	border-radius: var(--border-radius-medium);
}
